@model List<SignalR.WebUI.DTOs.AboutDtos.ResultAboutDto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}


<div class="container-fluid">
    <h4 class="page-title">Hakkımızda Modülü</h4>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">
                        Hakkımızda Listesi

                        <a href="/About/CreateAbout/" class="btn btn-success btn-sm float-right" title="Sil"> <i class="fa-sharp fa-solid fa-plus"></i>  Yeni</a>
                    </div>
                </div>
                <div class="card-body">
                    <table class="table table-head-bg-primary mt-4 table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Başlık</th>
                                <th scope="col">Açıklama</th>
                                <th width="8%" scope="col">Seçenekler</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <th scope="row">@item.ImageURL</th>
                                    <td>@item.Title</td>
                                    <td>@item.Description</td>
                                    <td>
                                        <a href="/About/UpdateAbout/@item.AboutID"
                                           class="btn btn-warning btn-sm" title="Düzenle">
                                            <i class="fa-solid fa-pen"></i>
                                        </a>
                                        <a hidden class="btn btn-info btn-sm" title="Detaylar">
                                            <i class="fa-solid fa-eye"></i>
                                        </a>
                                        <a href="/About/DeleteAbout/@item.AboutID"
                                           class="btn btn-danger btn-sm" title="Sil">
                                            <i class="fa-solid fa-trash-can"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div> 